/**
 * Default CustomListBox styling.
 */
.gwt-CustomListBox {
  width: 5em;
}

.gwt-CustomListBox-dropdown {
  background: #efefef;
}

.gwt-CustomListBox-item {
  width: 5em;
  padding-left: 9px;
}

.gwt-CustomListBox-highlightedItem {
  background: #b7d6f6;
  width: 5em;
  padding-left: 9px;
}

.gwt-CustomListBox-currentItem {
  width: 5em;
  padding-left: 9px;
  background: #95b4d4;
}

.gwt-CustomListBox-currentAndHighlightedItem {
  width: 5em;
  padding-left: 9px;
  background: #84c5e5;
}

.gwt-CustomListBox-outerSep {
  padding: 2px 0px;
}

.gwt-CustomListBox-innerSep {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #777777;
  background: #ddddee;
  overflow: hidden;
}