/*----------------------------------------------------------------------------
* Toggle Button
*/
.gwt-ToggleButton {
  color: #fff;
  width: 20px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  font-size: 80%;
  white-space: nowrap;
  height: 100%;
}

hl {
  background-color: blue;
}

body {
  margin-left: 0;
}

/* ---------------------------------------------------------------------------
 * Tree
 */
.gwt-TreeItem,.gwt-TreeItem-selected {
  
}

.gwt-Tree {
  position: relative;
}

.gwt-TreeItem {
  color: black;
  white-space: normal;
}

.gwt-TreeItem-selected {
  background-color: #59d;
  color: white;
}

.gwt-PinnedPanel {
  margin: 0px;
  float: left;
}

.gwt-PinnedPanel .hover-bar {
  position: relative;
  background-color: gray;
  border: 1px solid gray;
  height: 99%;
  width: 30px;
}

.gwt-PinnedPanel .hover-bar div {
  height: 100%;
}

.gwt-PinnedPanel .mover {
  border-right: 1px solid #59d;
  border-bottom: 1px solid #59d;
  background-color: white;
  position: relative;
  z-index: 100;
  height: 99%;
}

.gwt-PinnedPanel .gwt-StackPanel {
  padding-left:8px; 
}

.gwt-PinnedPanel .content {
  height: 100%;
}

.nav-tree-title {
  height: 30px;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  color: white;
  background-color: #26a;
  text-align: center;
}
}