<html>
	<head>
		<script>
function writeDemoLink(moduleFilePath) {
	var moduleName = moduleFilePath.substring(0, moduleFilePath.length - 8).replace(/\//g, '.');
	var htmlFileName = moduleName.replace(/.*\./, '');
	document.getElementById('demoList').innerHTML += '<a href="javascript:" onclick="frames[\'demoFrame\'].location.href=\'' + moduleName + '/' + htmlFileName + '.html\'' + '">' + htmlFileName + '</a><br>';
}
		</script>
		<title>
	</head>
	<body>
		<h3>GWT Incubator Demos</h3>
		<div id="demoList" style="float:left;width:19%"></div>
		<iframe style="height:90%;width:80%;" id="demoFrame" name="demoFrame"></iframe>
	</body>
</html>
