/* Users usually should override styles in gwt-Tree*/
.gwt-Tree {
  
}

.gwt-TreeItem .open,.gwt-TreeItem .closed,.gwt-TreeItem .leaf {
  padding: 3px;
  padding-left: 18px;
  padding-right: 5px;
  white-space: nowrap;
  cursor: default;
  position: relative;
  padding-left: 18px;
}

.gwt-TreeItem .open,.gwt-TreeItem .closed {
  color: black;
  font-size: 110%;
}

.gwt-TreeItem .leaf {
  color: black;
  font-size: 90%;
}

.gwt-TreeItem .children {
  white-space: nowrap;
  margin-left: 10px;
}

.gwt-TreeItem .open {
  background: url('%treeOpen%') no-repeat center left;
}

.gwt-TreeItem .closed {
  background: url('%treeClosed%') no-repeat center left;
}

.gwt-Tree {
  position: relative;
  background-color: white;
}

.gwt-Tree .gwt-TreeItem {
  
}

.gwt-Tree .gwt-TreeItem-selected {
  
}

.gwt-Tree-selection-bar {
  background: #e3e8f3 url('%selectionBar%') repeat-x;
  border: 1px solid black;
  font-size: 0;
  position: absolute;
  width: 100%;
  left: 0;
}