/**
 * Applied to the entire page.
 */
@def BIG 50px;
@def DIRECTION ltr;
@eval RED com.google.gwt.libideas.resources.client.CSSResourceTest.red();
@url BACKGROUND dataMethod;

body {
  color: black;
  background: BACKGROUND repeat-x;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  direction: ltr;
}

@MEDIA print {
  body {
    color: gray;
  }
}

div {
	border: BIG solid RED;
	direction: DIRECTION;
}

@sprite spriteClass spriteMethod;

@page {
  margin: 3cm;
}

@page :left {
  margin: 4cm;
}

@if user.agent safari {
	div.safari {
		color: blue;
	}
	
	@if com.google.gwt.core.client.GWT.isScript() {
	  .safariIsScript { color : red; }
	}
}

@if user.agent gecko1_8 {
  div.gecko18 {
    color: blue;
  }
}

@if com.google.gwt.core.client.GWT.isScript() {
  .otherIsScript { color : red; }
}

.replacement {
	color: red;
}

.replacement:after {
  content: "Hello world";
}

.blah {
  \-some-wacky-extension : boo;
}

.foo {
  border: red;
  filter: "alpha(opacity = 30)";
}

.ns\:tag {
  border: red;
}

.ns\:tag:pseudo {
  content : "blah";
}

@if false {
  .foo {
    should-never-see-this: true;
  }
}

.foo {
  width: 50px;
}

.bar, .baz {
  border: red;
  width: 50px;
}

.baz {
  border-left: blue;
}
