/*----------------------------------------------------------------------------
* Toggle Button
*/
	/* ---------------------------------------------------------------------------
 * Custom Buttons
 */
.gwt-ToggleButton {
	color: #fff;
	width: 20px;
	text-align: center;
	padding-top: 5px; 
	height : 100%; 
	cursor : pointer;
	background: #59d; 
	cursor : hand;
	font-size: 80%;
	white-space: nowrap;
	text-align: center;
	cursor: hand;
	cursor: pointer;
	height: 30em;
}

/* ---------------------------------------------------------------------------
 * Tree
 */
.gwt-TreeItem,.gwt-TreeItem-selected {
	white-space: nowrap;
}

.gwt-TreeItem {
	color: black;
}

.gwt-TreeItem-selected {
	background-color: #59d;
	color: white;
}

.gwt-PinnedPanel {
	background-color: white;
	border: 1px solid #59d;
	height: 100%;

}

.nav-tree-title {
	width: 100%;
	height: 30px;
	text-align: center;
	vertical-align: bottom;
	color: white;
	background-color: #26a;
	border:1px solid black;
	
	
}