/* Users usually should override styles in gwt-Tree*/
.gwt-FastTree {
}

.gwt-FastTreeItem .open,.gwt-FastTreeItem .closed,.gwt-FastTreeItem .leaf
  {
  padding: 3px;
  padding-left: 18px;
  padding-right: 5px;
  white-space: nowrap;
  cursor: default;
  padding-left: 18px;
  -moz-user-select: none;
  position:relative;
}

.gwt-FastTreeItem .open,.gwt-FastTreeItem .closed {
  color: black;
  font-size: 110%;
}

.gwt-FastTreeItem .leaf {
  color: black;
  font-size: 90%;
}

.gwt-FastTreeItem .children {
  white-space: nowrap;
  margin-left: 10px;
}

.gwt-FastTreeItem .open {
  background: url('%treeOpen%') no-repeat center left;
}

.gwt-FastTreeItem .closed {
  background: url('%treeClosed%') no-repeat center left;
}

.gwt-FastTree {
  background-color: white;
}

.gwt-FastTree .gwt-FastTreeItem {
  
}

.gwt-FastTree .gwt-TreeItem-selected {
  
}

.gwt-FastTree .selection-bar {
  background: #e3e8f3 url('%selectionBar%') repeat-x;
  border: 1px solid black;
  font-size: 0;
  position: absolute;
  width: 100%;
  left: 0;
}