body {
  
}

.gwt-DatePicker {
  width: 150px;
  border: 1px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  color: 6b6b6b;
}

.gwt-DatePicker td {
  font-family: Arial;
  font-size: 65%;
  padding: 2px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  outline: none;
  -moz-outline: none;
}

.gwt-DatePicker td,.monthSelector td :focus {
  outline: none
}

/**
Calendar  styles
*/
.calendarView .filler {
  color: #bfbfbf
}

.calendarView .selected {
  background: #aaccee;
}

.calendarView .highlighted {
  background: #ccee11;
}

.calendarView .day-title {
  background: #dbe6de;
}

.calendarView .weekend {
  background: #f1f1f1;
}

/*
Month selector styles
*/
.monthSelector td {
  font-weight: bold;
  font-size: 70%;
}

.monthSelector {
  background-color: #dbe6de;
  width: 100%;
  text-align: center;
}

.monthSelector .month-label {
  text-align: center;
}

/**
helper styles
*/
.log-panel {
  position: relative;
  float: right;
  border: 1px solid black;
  margin-left: 30px;
}

.gwt-TabPanel {
  margin-top: 4px;
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #87B3FF;
  background-color: #fff;
}

.gwt-TabBar .gwt-TabBarFirst {
  
}

.gwt-TabBar .gwt-TabBarRest {
  
}

.gwt-TabBar .gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  cursor: hand;
  background-color: #e8eef7;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;
  background-color: #87b3ff;
  border-bottom: 2px solid #87b3ff;
  margin-right: 2px;
}