/*----------------------------------------------------------------------------
* Toggle Button
*/
.gwt-ToggleButton {
  color: #fff;
  width: 20px;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  font-size: 80%;
  white-space: nowrap;
  height: 100%;
}

body {
  margin-left: 0;
}

/* ---------------------------------------------------------------------------
 * Tree
 */
.gwt-TreeItem,.gwt-TreeItem-selected {
  
}

.gwt-TreeItem {
  color: black;
  white-space: normal;
}

.gwt-TreeItem-selected {
  background-color: #59d;
  color: white;
}

.gwt-PinnedPanel {
  height: 400px;
  margin: 0px;
}

.gwt-PinnedPanel .hover-bar {
  position: relative;
  background-color: #147;
  height: 100%;
  width: 30px;
}

.gwt-PinnedPanel .mover {
  border: 1px solid #59d;
  background-color: white;
  position: relative;
  z-index: 100;
}

.nav-tree-title {
  height: 30px;
  width: 100%;
  text-align: center;
  vertical-align: bottom;
  color: white;
  background-color: #26a;
  text-align: center;
}
}