/**
Default styling for CollapsiblePanel code.
*/
.gwt-CollapsiblePanel div:focus {
  border: 0px;
  -moz-outline: none !important
}

.gwt-CollapsiblePanel {
  margin: 0px;
  margin-right: 10px;
  float: left;
  height: 500px;
}

.
.gwt-CollapsiblePanel .hover-bar {
  position: relative;
  background-color: gray;
  width: 30px;
  height: 100%;
}

.gwt-CollapsiblePanel .container {
  border-right: 1px solid #59d;
  border-bottom: 1px solid #59d;
  background-color: white;
  height: 100%;
  position: relative;
  z-index: 100;
  position: relative;
  background-color: white;
}

.gwt-CollapsiblePanel .gwt-ToggleButton {
  color: #fff;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  font-size: 80%;
  white-space: nowrap;
  padding-right: 10px;
  padding-top: 5px;
}

/*----------------------------------------------------------------------------
* Demo code.
*/
hl {
  background-color: blue;
}

body {
  margin-left: 0;
}

.gwt-CollapsiblePanel .gwt-StackPanel {
  padding-left: 8px;
}

.gwt-ToggleButton {
  color: #fff;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  font-size: 80%;
  white-space: nowrap;
  padding-right: 10px;
  padding-top: 5px;
}

.nav-tree-title {
  height: 30px;
  background-color: #26a;
}

/**
 * Applied to the stack panel, a vertical menu widget that reveals one
 * category at a time.
 */
.gwt-StackPanel {
  border-spacing: 0px;
  border: 1px solid #666666;
  width: 200px;
  height: 100%;
}

.gwt-StackPanel .gwt-StackPanelItem {
  background: #e3e8f3 url(bg_headergradient.gif) repeat-x;
  color: #666666;
  border: 1px solid #e3e8f3;
  padding: 3px 3px 5px 3px;
  cursor: pointer;
  cursor: hand;
  font-size: 14px;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
  color: black;
  cursor: default;
}

.gwt-StackPanel .gwt-StackPanelContent {
  padding: 2px 2px 10px 5px;
  height: 100%;
}