/**
 * Default DropDownListBox styling.
 */

.gwt-DropDownListBox {
  
}

/**
* Styles inherited from custom list box.
**/
.CustomList{
  background-color: #efefef;
  border: 1px dotted gray;
}

.CustomListItem {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.CustomListHighlightedItem {
  background: #b7d6f6;
}

.CustomListSelectedItem {
  background: #95b4d4;
}

.CustomListSelectedAndHighlightedItem {
  background: #84c5e5;
}

.CustomListSelectedAndDisabledItem {
  background: #84c5e5;
  color: #efefef;
}

.CustomListDisabledItem {
  color: #efefef;
}

.CustomListOuterSeparator {
  padding: 2px 0px;
}

.CustomListInnerSeparator {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #777777;
  background: #ddddee;
  overflow: hidden;
}