.previewPanel {
  background-color: #FFFF99;
  border:blue solid 1;
  padding: 2 5;
}
.integerPart {
  font-size: normal;
  font-weight: bold;
}
.decimalPart {
  font-size: x-small;
  text-decoration: underline;
}
          