.gwt-DropDownMonthSelector-month {
	width: 40px;
}

.gwt-DropDownMonthSelector-year {
	width: 40px;
}

.gwt-PopupPanel .popupContent {
  background: white;
  border: 1px solid black;
  height: 10em;
  overflow-x:hidden;
  overflow-y:scroll;
}
