/**
 * ScrollTable
 */
.gwt-ScrollTable {
  border: 2px solid #C3D9FF;
}
.gwt-ScrollTable .gwt-ScrollTable-data tr {
  background: #EAEAEA;
}
.gwt-ScrollTable .gwt-ScrollTable-data tr.hovering {
  background: #C3D9FF;
}
.gwt-ScrollTable .gwt-ScrollTable-data tr.selected {
  background: #7AA5D6;
}
.gwt-ScrollTable .gwt-ScrollTable-data tr td {
  border: 2px solid white;
  border-bottom: 2px solid #666666;
  border-right: 2px solid #888888;
  white-space: nowrap;
  margin: 0px;
  overflow: hidden;
}
.gwt-ScrollTable .gwt-ScrollTable-data tr td.hovering {
  background: #C3D9FF;
}

.gwt-ScrollTable .gwt-ScrollTable-header-wrapper {
  background: #E8EEF7;
  border-bottom: 1px solid #C3D9FF;
}
.gwt-ScrollTable .gwt-ScrollTable-header tr {
  background: #E8EEF7;
}
.gwt-ScrollTable .gwt-ScrollTable-header tr td {
  border: 2px solid transparent;
  border-right: 2px solid #7AA5D6;
  border-bottom: 2px solid #7AA5D6;
  white-space: nowrap;
  margin: 0px;
  overflow: hidden;
}

.gwt-ScrollTable .gwt-ScrollTable-footer-wrapper {
  background: #E8EEF7;
  border-top: 1px solid #C3D9FF;
}
.gwt-ScrollTable .gwt-ScrollTable-footer tr {
  background: #E8EEF7;
}
.gwt-ScrollTable .gwt-ScrollTable-footer tr td {
  border: 2px solid transparent;
  border-right: 2px solid #7AA5D6;
  border-bottom: 2px solid #7AA5D6;
  white-space: nowrap;
  margin: 0px;
  overflow: hidden;
}
.gwt-ModeledScrollTable-paging {
	background: #e8eef7;
	border-top: 1px solid #7AA5D6;
}
.gwt-CellEditor {
	border: 3px solid #7AA5D6;
	padding: 4px;
	background: white;
}
.gwt-CellEditor td {
  padding: 4px;
}

/**
 * TabPanel
 */
.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
	border-right: 1px solid blue;
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
	padding: 7px;
	background: #EEEEEE;
	border-right: 1px solid blue;
	border-top: 1px solid blue;
}
.gwt-TabBar .gwt-TabBarItem-selected {
	background: #FFFF00;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  padding: 5px;
  border: 2px solid blue;
}
