/**  
 * Demo styling
 */
.demo-decorator {
  padding: 4px;
  border: 1px dotted black;
}

.demo-pane {
  padding: 20px;
}

/**  
 * Widget styling
 */
.gwt-DropDownListBox ListItems {
  width: 100px;
}

/**
 * The styling used for the "wrapped" custom list box.
 */
.wrapped-Button {
  padding: 3px;
  border: 5px dotted blue;
}

.wrapped-CustomListBox {
  background: #ff0fff;
}

.wrapped-CustomListBox-highlightedItem {
  background: #ffff0f;
}

.wrapped-CustomListBox-currentItem {
  background: #0fffff;
}

.wrapped-CustomListBox-currentAndHighlightedItem {
  background: #0fff0f;
}

body {
  font-family: arial, sans-serif
}

div,td {
  color: #000000
}

a:link {
  color: #0000cc
}

a:visited {
  color: #551a8b
}

a:active {
  color: #ff0000
}

.widePanel {
  width: 100%
}

img {
  margin-top: 20px;
}